@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Lexend&family=Unbounded&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 25;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    /* --background-start-rgb: 0, 0, 0; */
    /* --background-end-rgb: 0, 0, 0; */
    --foreground-rgb: 0, 0, 25;
    --dark-background-color: 0, 0, 25;
    /* --light-background-color: 128, 128, 135; */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    /* --background-start-rgb: 0, 0, 0; */
    /* --background-end-rgb: 0, 0, 0; */
    --foreground-rgb: 0, 0, 25;
    --background-color: 0, 0, 25;
    /* --light-background-color: 128, 128, 135; */
  }
}

/* If the user prefers dark mode, 
we of course apply color-scheme: dark, as usual */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* If the user prefers light mode, 
we still enforce color-scheme: dark, despite the user preference */
/* @media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
} */




body {
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
}

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  --bg-opacity: 1;
  background-color: #f7fafc;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  --bg-opacity: 0.3;
  background-color: rgb(10, 102, 194);
  background-color: rgba(10, 102, 194, var(--bg-opacity));
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}


p {
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  font-weight: 300;
}


.neon-writing h1 {
  font-weight: 600;
  letter-spacing: 0.15em;
  line-height: 60px;
  text-shadow:
    0 0 10px #00d9ff,
    0 0 20px #00d9ff,
    0 0 40px #00d9ff;
}